
th {
    cursor: pointer;
}
.white {
    color: #18a718;
    font-weight: 700;
}
.market_coin p {
    margin: 0;
}
td {
    border-bottom: 1px solid gray;
}
.result_update,
.result_update .list {
    display: flex;
}
td p,
.result_update .list div {
    white-space: nowrap;
}
.result_update .list div:first-child {
    border: 1px solid green;
}
.result_update .list div:last-child {
    border: 1px solid firebrick;
}
#reloadGraf,
#viewFoundChain {
    display: none;
}